@{
    ViewData["Title"] = "Учет платежей";
}

<h3>Главная</h3>
<div>
    <p><a href="~/Home/Create" class="text-white">Создать завку</a></p>
    <p><a href="~/Home/Withdraw" class="text-white">Просмотр всех заявок</a></p>
</div>